<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<filter>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>cn.ybzy.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/login.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>IsLoginFilter</filter-name>
		<filter-class>cn.ybzy.filter.IsLoginFilter</filter-class>
		<init-param>
			<param-name>authority</param-name>
			<param-value>main.jsp,update.jsp,add.jsp,add.udo,query.udo,delete.udo,update.udo,updatedo.udo</param-value>
		</init-param>
		<init-param>
			<param-name>noautho</param-name>
			<param-value>login.jsp,login.udo,logout.udo,index.html,error.jsp,online.udo</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>IsLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>